/* Coolors Exported Palette - https://coolors.co/121721-f9fbff-04266b-0b3ea3-2d6be5 */
$black: rgba(18, 23, 33, 1);
$white: rgba(249, 251, 255, 1);
$primaryColor: rgba(4, 38, 107, 1);
$secondaryColor: rgba(11, 62, 163, 1);
$highlightColor: rgba(45, 107, 229, 1);

/* Google Fonts https://fonts.google.com/?selection.family=Cardo:400,400i|Montserrat&query=Cardo */
@import url('https://fonts.googleapis.com/css?family=Cardo|Montserrat');
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Cardo', serif;

$spacing: 16px;
$halfSpacing: $spacing / 2;
